/*Gallery - Stylesheet*/

.GalleryInfo{
    width: 100%;
    margin: auto;
    text-align: center;
}

.gallery_Heading{
    width: 100%;
    height: 40vh;
    text-align: center;
    margin: auto;
    padding: 150px;
    --Text-color: #154360;
    --highlight-color: rgba(174, 214, 241,0.3);
    --bg-color:#fff;
    background-color: var(--Text-color);
    color: var(--bg-color);
    margin-bottom: 100px;
    position: relative;
    /* border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%; */
}

.gallery_Heading:before{
    position: absolute;
    content: "";
    background: #154360;
    width: 50%;
    bottom: -20px;
    right: 0;
    height: 100%;
    transform: skewY(-5deg);
    transform-origin: right;
    padding-right: 44px;
    z-index: -1;
}

.gallery_Heading:after{
    position: absolute;
    content: "";
    background: #154360;
    width: 50%;
    bottom: -20px;
    left: 0;
    height: 100%;
    transform: skewY(5deg);
    transform-origin: left;
    padding-left: 44px;
    z-index: -1;
}

.gallery_Heading > h1{
    text-align: center;
    font-weight: bold;
    color: var(--Text-color);
    text-shadow: -3px 0 10px #fff, 0 3px 10px #fff, 3px 0 10px #fff, 0 -3px 10px #fff;
}

/*Images List*/
.Gallery_Img{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.3s;
    animation-name: zoom;
    animation-duration: 0.3s;
    max-width: 100%;
    transition-duration: 0.1s;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 170px;
    object-fit: cover;
}

.Gallery_Img:hover{
    opacity: 0.9;    
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Overlay*/
.Overlay{
    margin: auto;
    width: 100%;
    padding-top: 100px;
}

.container{
    margin: auto;
}
.row{
    margin: auto;
}

.OverlayNavigation{
    width: 30px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #fff;
    font-weight: bold;
    position: absolute;
    z-index: 200000002;

}

.navigationleft{
    top: 50%;
    left: 16px;
    position: fixed;
}

.navigationright{
    top: 50%;
    right: 16px;
    position: fixed;
}

.OverlayNavigation:hover{
    cursor: pointer;
}

.close_Button{
    color: #fff;
    cursor: pointer;
    float: right;
    padding: 20px;
}

#openFullscreen{
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 200000001;
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    transition-duration: 1s;
    overflow-y: scroll;
}

.Residential{
    display: block;
}

.Commercial{
    display: block;
}

/*Image_Caption*/
#Image_Caption{
    margin: auto;
    color: #fff;
}

/*Overlay Opening Transition*/
 #DisplayImage{  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    position: relative;
    text-align: center;
    margin: auto;
    color: white;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

#DisplayImage{
    max-width: 100%;
    max-height: 65vh;
    object-fit: cover;
}

.forinterior{
    display: none;
}


/*Buttons for separating Commercial and residential*/
.ImageArrangingButtons{
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: fit-content;
    align-items: center;
}
.btn-secondary{
    color: var(--Text-color);
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.btn-secondary:hover{    
    background-color: var(--Text-color);
    border-color: var(--Text-color);
}

.btn-secondary:focus{    
    background-color: var(--Text-color);
    border-color: var(--Text-color);
}

.selectedButton{
    background-color: var(--Text-color);
    color: #fff;
    
}

@media (min-width: 576px){
    .Gallery_Img{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px 50px 10px 50px;
        max-height: 127px;
    }
    .row-cols-sm-2 > *{
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media (min-width: 768px){
    .Gallery_Img{
        max-height: 140px;  
    }
    .row-cols-md-3 > * {
        -ms-flex: 0 0 29%;
        flex: 0 0 29%;
        max-width: 29%;
    }
}

@media (min-width: 1000px){
    .Gallery_Img{
        max-height: 170px;
    }
}

@media (max-width: 576px){
    .gallery_Heading{
        padding: 0px;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    
    .Overlay{
        width: 100%;
    }

    .row > .col-10{
        width: 100%;
        margin: auto;
    }
}